extends ../_templates/sidebar_layout
block htmlHead
  style.
    #app { padding: 15px;}
    .ui.form .inline.field label { width: 110px;}

block content
  #app
    h1 Change password
    .ui.form
      .inline.field
        label Old Password
        .ui.mini.input
          input(type="password" v-model="oldpass")
      .inline.field
        label New Password
        .ui.mini.input
          input(type="password" v-model="pass")
      .inline.field
        label Confirm Password
        .ui.mini.input
          input(type="password" v-model="cpass" @keydown.enter="changePassword")
      button.ui.blue.button(@click='changePassword') Change Password
  script(type="module").
    import app from "/js/change-password.js";
    Vue.createApp(app).mount('#app');