link(rel="icon" href="/favicon.png")
meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=3.0")
//- link(rel="stylesheet" href="/css/common.css")
//- jquery
script(src="/libs/jquery-3.3.1.min.js" charset="utf-8")

//- vuejs
script(src="/libs/vue 3.2.14/vue.global.js")

script(src="/libs/moment.min.js")

//- semantic ui
link(rel="stylesheet" href="/libs/fomantic-2.8/semantic.min.css")
script(src="/libs/fomantic-2.8/semantic.min.js" charset="utf-8")
//- lodash
script(src="/libs/lodash.min.js")
//- myloading
script(type="text/javascript" src="/libs/mine/myloading.js")